@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

// font-family: 'Poppins', sans-serif;
// font-family: 'Cabin Sketch', cursive;
:root {
  --lggreen: #5ac817;
  --dgreen: #0b5b3e;
  --limegreen: #e9fbd3;
  --lightestgreen: #ebfbd5;
  --seagreen: #95cea2;
  --olivegreen: #9ab47b;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  &:before {
    content: "";
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../public/mainbgpic.png");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.hero-container__height {
  height: calc(100vh - 120px);
}

.my-font {
  font-family: "Poppins", sans-serif;
}
.head-font {
  font-family: "Cabin Sketch", cursive;
}
.lgreen {
  color: var(--lggreen);
}
.bglgreen {
  background-color: var(--lggreen);
}
.dgreen {
  color: var(--dgreen);
}
.bgdgreen {
  background-color: var(--dgreen);
}
.llimegreen {
  color: var(--limegreen);
}
.limegreenbg {
  background-color: var(--limegreen);
}
.lightesgreenbg {
  background-color: var(--lightestgreen);
}
.seagreen {
  color: var(--seagreen);
}
.olivegreen {
  color: var(--olivegreen);
}
.olivegreenbg {
  background-color: var(--olivegreen);
}
.borderlgreen {
  border: 4px solid var(--lggreen);
}
/*! Button Gradient */
.btn-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--lggreen),
    var(--dgreen)
  );
}

.card-text_color {
  color: #5f9c6d;
}
.card-bg {
  background-color: #95cea2;
}

/* Responsive */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .padding {
    padding: 0 10px 0 10px;
  }
  .hide-phone {
    display: none;
  }
}

// !== NAVBAR !==
.phone-menu {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.chevron {
  right: -15px;
}
.chevron::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border: solid 2px rgba(229, 231, 235, 1);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  transform: rotate(45deg);
  top: -10px;
  right: 15px;
}
.chevron::before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 30px;
  width: 40px;
  border-radius: 5px;
  z-index: 2;
  top: 0px;
  right: 10px;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
// !== NAVBAR==ENDS !==

// todo:::::::::::::::::SLIDER----CARDS:::::::::::::::::::::::::::


.mySwiper{
  // width: 20px !important;
  padding: 50px !important;
  // background: rgba(255, 255, 255, 0.25);

}
.swiper {
  width: 80%;
  margin: 0 !important;
  height: 500px;
}

.swiper-slide {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  backdrop-filter: blur(4px) ;
  -webkit-backdrop-filter: blur(4px) ;
  background-color: rgb(206, 17, 17, 0.5);
}

.swiper-slide:nth-child(2n) {
  backdrop-filter: blur(4px) ;
  -webkit-backdrop-filter: blur(4px) ;
  background-color: rgb(0, 140, 255, 0.5);
}

.swiper-slide:nth-child(3n) {
  backdrop-filter: blur(4px) ;
  -webkit-backdrop-filter: blur(4px) ;
  background-color: rgb(10, 184, 111, 0.5);
}

.swiper-slide:nth-child(4n) {
  backdrop-filter: blur(4px) ;
  -webkit-backdrop-filter: blur(4px) ;
  background-color: rgb(211, 122, 7, 0.5);
}

.swiper-slide:nth-child(5n) {
  backdrop-filter: blur(4px) ;
  -webkit-backdrop-filter: blur(4px) ;
  background-color: rgb(118, 163, 12, 0.5);
}

// .swiper-slide:nth-child(6n) {
//   background-color: rgb(180, 10, 47);
// }

// .swiper-slide:nth-child(7n) {
//   background-color: rgb(35, 99, 19);
// }

// .swiper-slide:nth-child(8n) {
//   background-color: rgb(0, 68, 255);
// }

// .swiper-slide:nth-child(9n) {
//   background-color: rgb(218, 12, 218);
// }

// .swiper-slide:nth-child(10n) {
//   background-color: rgb(54, 94, 77);
// }, 0.5

// todo:::::::::::::::::SLIDER----CARDS:::::::::::::::::::::::::::
